<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--
 ========================
 @author carlos santander
 ========================
-->
<configuration> 
    
    <typeAliases>
       
        <!--<package name="beans" />-->
        <typeAlias alias="Sesion" type="beans.Sesion"/>
        <typeAlias alias="User" type="beans.User"/>
        <typeAlias alias="Usuario" type="beans.Usuario"/>
        <typeAlias alias="TablasMaestras" type="beans.TablasMaestras"/>
        <typeAlias alias="Ventas" type="beans.Ventas"/>
        <typeAlias alias="Almacen" type="beans.Almacen"/>
        <typeAlias alias="Utilitarios" type="beans.Utilitarios"/>
        <typeAlias alias="Facturacion" type="beans.Facturacion"/>
        
    </typeAliases>
    
    <environments default="Seguridad">     
  
        <!-- LOCALHOST -->        
        <environment id="DBASE">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/GrifoSoft"/>
                <property name="username" value="postgres"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>       
                 
    </environments>
    
    <mappers>
        
        <!-- <package name="batis" />-->
        <mapper resource="batis/Sesion.xml" />
        <mapper resource="batis/Usuario.xml" />
        <mapper resource="batis/TablasMaestras.xml" />
        <mapper resource="batis/Ventas.xml" />
        <mapper resource="batis/Almacen.xml" />
        <mapper resource="batis/Utilitarios.xml" />
        <mapper resource="batis/Facturacion.xml" />
                
    </mappers>
    
</configuration>





